# API
REACT_APP_API_URL=http://localhost:3001/api

# GitHub
REACT_APP_GITHUB_USERNAME=clcmo

# PIX
REACT_APP_PIX_KEY=camila.leite.oliveira@gmail.com

# Analytics (opcional)
REACT_APP_GA_TRACKING_ID=UA-123456789-1
