@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

@font-face {
    font-family: "Catchy Mager";
    src: url("../fonts/CatchyMager-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-heading: 'Catchy Mager', sans-serif;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Helvetica', sans-serif;
}