# Servidor
PORT=5555
NODE_ENV=development

# GitHub (obrigatório o username, token é opcional)
GITHUB_USERNAME=
# Crie um token "fine-grained" ou "classic" apenas para leitura pública, se quiser mais cota
GITHUB_TOKEN=

# Cache (em segundos)
CACHE_TTL_SECONDS=300

# Paginação da API do GitHub
GITHUB_PER_PAGE=100
GITHUB_MAX_PAGES=2

# Banco (Railway preenche DATABASE_URL automaticamente ao provisionar MongoDB)
DATABASE_URL=
# Habilitar sincronização opcional no banco (true/false)
ENABLE_DB_SYNC=false